/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

:root {
  --color-navbar-search: rgba(27, 27, 27, 0.575);
  --nav-search-visibility: visible;
}

.details .navigation {
  opacity: var(--details-opacity);
  cursor: default;
}

.navigation {
  height: 7rem;
}

.nav-avatar {
  width: 4rem;
  height: 4rem;
}

.nav-cart-icon {
  width: 4rem;
  height: 4rem;
}

.nav-logo {
  width: 5rem;
  height: 5rem;
}

.nav-search__input {
  height: 3.6rem;
  width: 90rem;
  text-align: center;
  border:;
  background: var(--color-navbar-search);
  visibility: var(--nav-search-visibility);
}

@media(max-width:600px) {
  :root {
    --nav-search-visibility: hidden;
  }
}
